#header {
    margin-top: 80px;
}

html{ 
    scroll-behavior: smooth 
}

.nav-link1 {
    background-color: #48e;
    color: #ededed;
    margin-top: auto;
	margin-left:6px;
	padding: 6px 9px;
    border-radius: 5px;
}

.nav-link1:hover {
    background-color: #48e;
	color: #fff;
    text-shadow: 0px 0px 9px #24a
}

a:link, a:visited, a:active {
    text-decoration:none;
}

.ic {
    color: #fff;
}

.mensaje404 {
    background-color: #FCB82F;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background404 {
    height: 600px;
}

#map {
    height: 40px; 
    width: 60px;  
   }
