

body {
    font-family: 'Titillium Web', sans-serif;
background-image:url(../img/background8.jpg);
  background-repeat:repeat;
  background-attachment:fixed;
  overflow:scroll;

}

html{ 
    scroll-behavior: smooth 
}

html.sr .load-hidden {
  visibility: hidden;
}

.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  /* Style the icon bar links */
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  .facebook {
    background: #3B5998;
    color: white;
  }
  
  .twitter {
    background: #55ACEE;
    color: white;
  }
  
  .instagram {
    background-image: url("../img/instabackg.jpg");
  }
  
  .linkedin {
    background: #007bb5;
    color: white;
  }

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    width: 35px;
    height: 35px;

    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #48e; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 0; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }

#jumbotron {
    opacity: 0.95;
}

#miNodo {
    opacity: 0.95;
}

#map {
    height: 200px; 
    width: 300px;  
   }
.card-img-top {
    height: 200px;
}

.nav-link1 {
    background-color: #48e;
    color: #ededed;
    margin-top: auto;
	margin-left:6px;
	padding: 6px 9px;
    border-radius: 5px;
}

.nav-link1:hover {
    background-color: #48e;
	color: #fff;
    text-shadow: 0px 0px 9px #24a
}

a:link, a:visited, a:active {
    text-decoration:none;
}

.page-footer {
    background-color: ivory;
}

.ic {
    color: #fff;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-left: 315px;
}

.pagination a {
    background-color: rgb(255, 255, 255);
    color: black;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }
  
  .pagination a.active {
    background-color: dodgerblue;
    color: white;
  }

  .pagination a:hover {
      background-color: lightgray;
    }

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
#container2 {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 500px;
}

#container3 {
  width: 600px;
}


